<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auctioneria</title>
</head>
<body>
<h1>Добро пожаловать на Auctioneria!</h1>
<% if (user) { %>
    <p>Вы залогинены как <%= user.username %>.</p>
    <a href="/auth/dashboard">Перейти в личный кабинет</a>
<% } else { %>
    <p>Пожалуйста, залогиньтесь, чтобы получить доступ к вашему личному кабинету.</p>
    <a href="/auth/login">Войти</a>
<% } %>
</body>
</html>
