<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление пользователями</title>
</head>
<body>
<h1>Пользователи</h1>
<a href="/users/add">Добавить пользователя</a>
<ul>
    <% users.forEach(function(user) { %>
        <li>
            <%= user.username %> - <%= user.email %>
            <form action="/users/delete/<%= user._id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit">Удалить</button>
            </form>
        </li>
    <% }); %>
</ul>
<a href="/auth/dashboard">Назад в личный кабинет</a>
</body>
</html>
